:root {
  --main-green: #336E6B;
  --main-light-green: #47D18F;
  --main-light-green-20: #47D18F33;
  --main-blue: #1B3352;
  --main-light-blue: #A6CFE2;
  --main-red: #E57066;
  --main-yellow: #F5C26F;
  --main-beige: #F2EBDB;
  --main-black: #393939;
  --main-white: #FDFDFD;
  --project-blue: #1FAEF0;
  --project-orange: #FFB339;
  --project-green: #49E2A7;
  --project-turquoise: #49A29F;
  --project-purple: #6572ED;
  --project-pastel-blue: #9CD2EB;
  --project-pastel-orange: #FFE7C0;
  --project-pastel-green: #CBEFE1;
  --project-pastel-turquoise: #9BD3D3;
  --project-pastel-purple: #93B1FF;
  --grey-scale-0: #FFFFFF;
  --grey-scale-10: #FAFAFA;
  --grey-scale-20: #F5F5F5;
  --grey-scale-30: #EBEBEB;
  --grey-scale-40: #DEDEDE;
  --grey-scale-50: #BFBFBF;
  --grey-scale-60: #A6A6A6;
  --grey-scale-70: #8C8C8C;
  --grey-scale-80: #737373;
  --grey-scale-90: #595959;
  --grey-scale-100: #404040;
  --grey-scale-110: #262626;
  --grey-scale-120: #0D0D0D;
  --grey-scale-200: #CCCCCC;
  --grey-scale-250: #DBDBDB;
  --grey-scale-800: #323232;
} 